footer{
  background-color: darkgray;
}
textarea{
  resize: none;
  text-overflow: ellipsis;
  overflow: hidden;
}
#make{
  position: relative;
}
#download_text, #file_name, #download, #diary-sheet-name{
  z-index: 10;
  position: relative;
}
table{
  border-collapse: collapse;
  border: 1px solid black;
}
td, th, tr{
  border-collapse: collapse;
  border: 1px solid black;
}

#canvas_image{
  top: 1000px;
}

#div_pl{
  margin: 0;
  padding: 0;
}