input, textarea{
  position: absolute;
}

#image{
  z-index: 0;
  top:130px;
  position: absolute;
}
#canvas_image{
  position: absolute;
  top: 1580px;
}
#make, header{
  z-index: 3;
}

#div_pl{
  margin: 0;
  padding: 0;
}

#pl{
  left: 870px;
  top: 240px;
}
#friend_name{
  left: 710px;
  top: 295px;
}
#medal{
  left: 770px;
  top: 350px;
}

/*シナリオ1*/
#scenario_name1{
  left: 210px;
  top: 465px;
}
#scenario_date1{
  left:150px;
  top: 498px;
}
#scenario_pg1{
  left:130px;
  top:522px;
}
#scenario_pl1{
  left:130px;
  top:545px;
}
#scenario_memo1{
  left:85px;
  top:630px;
}

/*シナリオ2*/
#scenario_name2{
  left: 420px;
  top: 465px;
}
#scenario_date2{
  left:460px;
  top: 498px;
}
#scenario_pg2{
  left:445px;
  top:522px;
}
#scenario_pl2{
  left:445px;
  top:545px;
}
#scenario_memo2{
  left:400px;
  top:630px;
}

/*シナリオ3*/
#scenario_name3{
  left: 740px;
  top: 465px;
}
#scenario_date3{
  left:775px;
  top: 498px;
}
#scenario_pg3{
  left:760px;
  top:522px;
}
#scenario_pl3{
  left:760px;
  top:545px;
}
#scenario_memo3{
  left:720px;
  top:630px;
}

/*シナリオ4*/
#scenario_name4{
  left: 110px;
  top: 750px;
}
#scenario_date4{
  left:150px;
  top: 785px;
}
#scenario_pg4{
  left:130px;
  top:808px;
}
#scenario_pl4{
  left:130px;
  top:832px;
}
#scenario_memo4{
  left:85px;
  top:917px;
}

/*シナリオ5*/
#scenario_name5{
  left: 420px;
  top: 750px;
}
#scenario_date5{
  left:460px;
  top: 785px;
}
#scenario_pg5{
  left:445px;
  top:808px;
}
#scenario_pl5{
  left:445px;
  top:832px;
}
#scenario_memo5{
  left:400px;
  top:917px;
}

/*シナリオ6*/
#scenario_name6{
  left: 740px;
  top: 750px;
}
#scenario_date6{
  left:775px;
  top: 785px;
}
#scenario_pg6{
  left:760px;
  top:808px;
}
#scenario_pl6{
  left:760px;
  top:832px;
}
#scenario_memo6{
  left:720px;
  top:917px;
}

/*出会ったフレンズリスト*/
.frineds_list{
  left:215px;
}

#friend1{
  top:1120px;
}
#friend2{
  top:1175px;
}
#friend3{
  top:1230px;
}
#friend4{
  top:1280px;
}
#friend5{
  top:1335px;
}
#friend6{
  top:1390px;
}
#friend7{
  top:1445px;
}
#friend8{
  top:1498px;
}
#friend9{
  top: 1550px;
}

#bass{
  top: 1120px;
  left:580px;
}

#memo{
  top: 1370px;
  left:560px;
}